<div class="login-background"></div>
<div class="login-overlay">
   <div class="login-content">
      <img src="assets/img/logo-white.png" alt="Lead Time">
      <div><input color="accent" type="text" placeholder="CNPJ/CUIT"></div>
      <div><input color="accent" type="password" placeholder="Senha"></div>
      <div><button (click)="login()"  *ngIf="!dataService.isLoggedIn">Login</button></div>
      <div><button (click)="logout()" *ngIf="dataService.isLoggedIn">Logout</button></div>
      <div><p>{{message}}</p>
   </div>
</div>
