$leadtime-font-path: "assets/fonts" !default;

$icon-agenda: "\e900";
$icon-caminhao: "\e901";
$icon-card-background: "\e902";
$icon-destino: "\e903";
$icon-mercadoria: "\e904";
$icon-origem: "\e905";
$icon-relogio: "\e906";
$icon-rodovia: "\e907";
$icon-telefone: "\e908";
$icon-home: "\e909";
