$icomoon-font-path: "assets/fonts" !default;

$icon-agenda: "\e903";
$icon-caminhao: "\e904";
$icon-card-background: "\e905";
$icon-carga-fim: "\e906";
$icon-carga-inicio: "\e907";
$icon-carga-previsao: "\e908";
$icon-descarga-fim: "\e909";
$icon-descarga-inicio: "\e90a";
$icon-descarga-previsao: "\e90b";
$icon-destino: "\e90c";
$icon-documento: "\e90d";
$icon-mercadoria: "\e90e";
$icon-observacao: "\e90f";
$icon-origem: "\e910";
$icon-pessoa: "\e911";
$icon-relogio1: "\e912";
$icon-relogio2: "\e913";
$icon-rodovia: "\e914";
$icon-telefone: "\e915";
$icon-terno: "\e916";
$icon-tipo1: "\e917";
$icon-tipo2: "\e918";
$icon-transit-time: "\e900";
$icon-descarga: "\e901";
$icon-carga: "\e902";
$icon-home: "\e919";
$icon-key: "\e98d";
$icon-lock: "\e98f";
$icon-unlocked: "\e990";
$icon-wrench: "\e991";
$icon-equalizer: "\e992";
$icon-cog: "\e994";
$icon-bin: "\e9ac";
$icon-switch: "\e9b6";
$icon-plus: "\ea0a";
$icon-minus: "\ea0b";
$icon-cross: "\ea0f";
$icon-checkmark: "\ea10";
$icon-loop2: "\ea2e";
$icon-filter: "\ea5b";
