$icomoon-font-path: "assets/fonts" !default;

$icon-agenda: "\e900";
$icon-caminhao: "\e901";
$icon-card-background: "\e902";
$icon-carga-fim: "\e903";
$icon-carga-inicio: "\e904";
$icon-carga-previsao: "\e905";
$icon-descarga-fim: "\e906";
$icon-descarga-inicio: "\e907";
$icon-descarga-previsao: "\e908";
$icon-destino: "\e90a";
$icon-documento: "\e90b";
$icon-mercadoria: "\e90c";
$icon-observacao: "\e90d";
$icon-origem: "\e90e";
$icon-pessoa: "\e90f";
$icon-relogio1: "\e910";
$icon-relogio2: "\e911";
$icon-rodovia: "\e912";
$icon-telefone: "\e913";
$icon-terno: "\e914";
$icon-tipo1: "\e915";
$icon-tipo2: "\e916";
$icon-home: "\e909";
