@import './animations';
@import './variables';
@import './icon-style';

@font-face {
   font-family: 'Bree Serif';
   src: url('assets/fonts/BreeSerif-Regular.ttf') format("truetype");
}

@font-face {
   font-family: 'Roboto';
   src: url('https://fonts.googleapis.com/css?family=Roboto');
}

html, body {
   margin: 0;
   padding: 0;
}
html {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: lighter;
}
h1, h2, h3, h4, h5, h6 {
   font-weight: lighter;
}

body {
   min-height: 100vh;
   overflow-x: hidden;
}

.container {
   position: absolute;
   top: 0px;
   left: 0px;
   min-height: 100vh;
   width: 100%;
   padding: 0;
   background-color: map-get($colors, light);
}

.padded {
   margin-left: auto;
   margin-right: auto;
   padding-left: 20vw;
   padding-right: 10vw;
   padding-top: 2vw;
   transition: 300ms ease-in-out;
}

.header {
   height: 116px;
   color: map-get($colors, dark);
   background-color: map-get($colors, fade);

   &:before {
      width: 100%;
      height: 116px;
      background-image: url('assets/img/background.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      @include filter(blur, 5px);
   }
}

.content {
   padding-bottom: 10vh;
}

.page-title {
   font-family: 'Bree Serif';
   text-transform: capitalize;
   height: 32px;
   margin-bottom: 32px;
}

.tabs {
   display: flex;
   align-content: stretch;
   text-align: center;
   height: 32px;
   margin-right: 200px;
   & > a {
      min-width: 10vw;
      cursor: pointer;

      &:hover, &.active {
         font-weight: bold;
         border-bottom: 2px solid orangered;
      }
   }
}

.card {
   width: 100%;
   height: 100%;
   padding: 0;
   border-radius: 2px;
   margin-top: 1vh;
   margin-bottom: 1vh;
   background-color: map-get($colors, white);
   box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
   transition: box-shadow 100ms ease-in-out;
   display: flex;

   &:hover {
      cursor: pointer;
      box-shadow: 4px 4px 5px 1px rgba(0, 0, 0, 0.05);
   }

   & > .card-logo {
      width: 30%;
      margin-top: 0;
      margin-bottom: 0;
      float: left;
      overflow: hidden;
      background-color: map-get($colors, white);
      box-shadow: 2px 0px 0px rgba(0, 0, 0, 0.2);
      padding: 5px;
      vertical-align: middle;
   }

   & > .card-content {
      width: 70%;
      padding: 5px 5px 5px 10px;
      position: relative;
      float: right;
      font-weight: bolder;
      vertical-align: top;
      font-size: 1.2rem;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

      .minimized-info {
         display: flex;
         flex-wrap: wrap;
         align-items: flex-end;
         justify-content: flex-start;
         color: map-get($colors, light);
      }

      .detailed-info {
         display: none;
      }
   }
}

.atrasado {
   background-color: map-get($colors, atrasado);
}

.previsto {
   background-color: map-get($colors, previsto);
}

.atrasado-border {
   background-color: map-get($colors, white);
   border-left: 4px solid map-get($colors, atrasado);
}

.previsto-border {
   background-color: map-get($colors, white);
   border-left: 4px solid map-get($colors, previsto);
}

.hide {
   display: none;
}

.info {
   position: relative;
   line-height: 90%;
   margin: 3px 10px 10px 10px;
   flex-grow: 1;
   width: 32%;
   font-size: 1em;
}

@media (min-width: 1368px) {
   .info {
      font-size: 1.4em;
   }
}

[class^="icon-"], [class*=" icon-"] {
   margin-right: 5px;
}

.help-text {
   position: relative;
   margin-top: 2px;
   display: block;
   font-size: 0.8em;
   opacity: 0.5;
}

.detailed {
   height: 100%;
   // @include animation(grow 300ms cubic-bezier(0, 0.45, 0.30, 2.4));
   @include animation(grow2 300ms ease-in-out);
   color: map-get($colors, dark);

   .minimized-info {
      display: none;
   }
   .card-content {
      width: 100%;
   }
   .detailed-info {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-around;
   }
   .card-logo {
      display: none;
   }
   &.atrasado {
      @extend .atrasado-border;
   }
   &.previsto {
      @extend .previsto-border;
   }
}

hr {
   border-top: 1px solid #f4f4f4;
   margin-top: 20px;
   margin-bottom: 20px;
}


.header-link {
   cursor: pointer;
   text-decoration: none;

   &:hover, &.active {
      font-weight: bolder;
   }
}

.summary {
   height: 100%;

   & > .summary-info-block {
      display: block;
      margin-bottom: 50px;
      & > .summary-info {
         display: inline-block;
         width: 100px;
         margin-right: 50px;

         & > h1, & > h3 {
            margin: 0;
         }

         &.action {
            cursor: pointer;
         }
         &.active {
            &::after {
               content: '';
               width: 0;
               height: 0;
               border-bottom: 10px solid rgba(0, 0, 0, 0.3);
               border-left: 10px solid transparent;
               position: absolute;
               bottom: 0;
               right: 0;
            }
         }

         & > .f-previsto {
            color: map-get($colors, previsto);
         }

         & > .f-atrasado {
            color: map-get($colors, atrasado);
         }
      }
   }

   & > .filters {
      display: inline-block;
      height: 100%;
   }
}

.loader {
   display: flex;
   position: absolute;
   right: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.20);
   z-index: 99;
   align-items: center;
   justify-content: center;
}


.login-background {
   content: '';
   position: absolute;
   right: 0;
   top: 0;
   width: 110vw;
   height: 100vh;
   background-image: url('assets/img/background.jpg');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   z-index: 90;
   @include filter(blur, 5px);
   overflow-x: hidden;
   overflow-y: hidden;
}

.login-overlay {
   position: absolute;
   right: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   z-index: 99;

   font-family: 'Bree Serif', sans-serif;
   color: map-get($colors, white);

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;

}

.login-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;

   img {
      margin-bottom: 20px;
      max-width: 200px;
      width: 200px;
   }
}
