@import './animations';
@import './variables';
@import './icon-style';

@font-face {
   font-family: 'Bree Serif';
   src: url('assets/fonts/BreeSerif-Regular.ttf') format("truetype");
}

@font-face {
   @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
}

html, body {
   margin: 0;
   padding: 0;
}
html {
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: lighter;
}
h1, h2, h3, h4, h5, h6 {
   font-weight: lighter;

   &.empty-list {
      margin-top: 50px;
      width: 50%;
      margin: 0 auto;
      font-weight: bolder;
      text-align: center;
      color: rgba(0, 0, 0, 0.2);
   }
}

body {
   min-height: 100vh;
   overflow-x: hidden;
   background-color: map-get($colors, light);
}

.container {
   position: absolute;
   top: 0px;
   left: 0px;
   min-height: 100vh;
   width: 100%;
   padding: 0;
   background-color: map-get($colors, light);
}

.padded {
   margin-left: auto;
   margin-right: auto;
   padding-left: 20vw;
   padding-right: 10vw;
   padding-top: 2vw;
   @include transitionAll;
}

.header {
   height: 116px;
   color: map-get($colors, dark);
   background-color: map-get($colors, fade);

   &:before {
      width: 100%;
      height: 116px;
      background-image: url('assets/img/background.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      @include filter(blur, 5px);
   }
}

.content {
   padding-bottom: 10vh;
}

.page-title {
   font-family: 'Bree Serif';
   text-transform: capitalize;
   height: 32px;
   margin-bottom: 32px;
}

.tabs {
   display: flex;
   align-content: stretch;
   text-align: center;
   height: 32px;
   margin-right: 200px;
   & > a {
      min-width: 10vw;
      cursor: pointer;

      &:hover, &.active {
         font-weight: bold;
         border-bottom: 2px solid orangered;
      }
   }
}

.card {
   width: 100%;
   height: 100%;
   padding: 0;
   border-radius: 2px;
   margin-top: 1vh;
   margin-bottom: 1vh;
   background-color: map-get($colors, white);
   box-shadow: $shadow;
   display: flex;
   cursor: pointer;

   &:hover {
      box-shadow: $shadow-hover;
   }

   & > .card-logo {
      width: 30%;
      margin-top: 0;
      margin-bottom: 0;
      float: left;
      overflow: hidden;
      background-color: map-get($colors, white);
      box-shadow: $shadow;
      padding: 5px;
      vertical-align: middle;
   }

   & > .card-content {
      width: 70%;
      padding: 5px 5px 5px 10px;
      position: relative;
      float: right;
      font-weight: bolder;
      vertical-align: top;
      font-size: 1.2rem;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

      & > .minimized-info {
         visibility: visible;
         display: flex;
         flex-wrap: wrap;
         align-items: flex-end;
         justify-content: flex-start;
         color: map-get($colors, light);
      }

      & > .detailed-info {
         visibility: hidden;
         height: 0;
      }
   }
}

.detailed {

   & > .card-content {
      width: 100%;
      & > .minimized-info {
         visibility: hidden;
         height: 0;
      }
      & > .detailed-info {
         visibility: visible;
         display: flex;
         flex-wrap: wrap;
         align-items: stretch;
         justify-content: flex-start;
         color: map-get($colors, dark);
         height: 100%;
      }
   }
   & > .card-logo {
      display: none;
   }

   &.atrasado {
      @extend .atrasado-border;
   }
   &.previsto {
      @extend .previsto-border;
   }
}

.help-text {
   position: relative;
   margin-top: 2px;
   display: block;
   font-size: 0.8em;
   opacity: 0.5;
}

.atrasado {
   background-color: map-get($colors, atrasado);
}

.previsto {
   background-color: map-get($colors, previsto);
}

.atrasado-border {
   background-color: map-get($colors, white);
   border-left: 4px solid map-get($colors, atrasado);
}

.previsto-border {
   background-color: map-get($colors, white);
   border-left: 4px solid map-get($colors, previsto);
}

.hide {
   display: none;
}

.info {
   position: relative;
   line-height: 90%;
   margin: 3px 10px 10px 10px;
   flex-grow: 1;
   width: 32%;
   font-size: 1em;

   &.full {
      width: 100%;
   }
}

@media (min-width: 1368px) {
   .info {
      font-size: 1.4em;
   }
}

[class^="icon-"], [class*=" icon-"] {
   margin-right: 5px;
}

hr {
   border-top: 1px solid #f4f4f4;
   margin-top: 20px;
   margin-bottom: 20px;
}


.header-link {
   cursor: pointer;
   text-decoration: none;
   vertical-align: middle;

   &:after {
      content: '';
      vertical-align: inherit;
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 10px;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 8px solid rgba(0, 0, 0, 0.30);
   }

   &:hover, &.active {
      font-weight: bolder;
      &:after {
         border-top: 8px solid rgba(0, 0, 0, 0.60);
      }
   }
   &.active:after {
      transform: rotate(180deg);
   }
}

.summary {
   height: 100%;

   & > .summary-info-block {
      display: flex;
      margin: auto;
      max-width: 100%;
      justify-content: space-around;
      align-items: stretch;
      flex-flow: row wrap;
      margin-bottom: 50px;

      & > .summary-info {
         position: relative;
         padding: 10px 20px 25px;
         width: 25%;
         cursor: pointer;
         display: inline-block;

         & > h1, & > h2, & > h3, & > h4,
         & > div > h1, & > div > h2, & > div > h3, & > div > h4 {
            margin: 0;
         }

         & > .info-small {
            display: inline-block;
            margin-top: 15px;
            text-align: center;
            width: 45%;
         }

         & > [class^="icon-"], & > [class*=" icon-"] {
            width: 40%;
            height: 50%;
            position: absolute;
            text-align: right;
            vertical-align: bottom;
            right: 5px;
            top: -25%;
            color: map-get($colors, previsto);
            font-size: 700%;
            text-shadow: $text-shadow;
            @include transitionAll;
            &:hover {
               text-shadow: $text-shadow-hover;
            }
         }

         &.action {
            cursor: pointer;
         }
         &.active {
            &:after {
               content: '';
               width: 0;
               height: 0;
               border-bottom: 10px solid rgba(0, 0, 0, 0.3);
               border-left: 10px solid transparent;
               position: absolute;
               bottom: 0;
               right: 0;
            }
         }
      }
   }

   & > .filters {
      display: inline-block;
      height: 100%;
   }
}

.f-previsto {
   color: map-get($colors, previsto);
}

.f-atrasado {
   color: map-get($colors, atrasado);
}

a > i, a > span {
   vertical-align: middle;
   margin-right: 10px;
   text-align: center;
}
.load-more {
   display: block;
   position: relative;
   font-size: 1.2rem;
   margin-top: 50px;
   width: 100%;
   height: 75px;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   color: map-get($colors, previsto);

   &:hover {
      color: map-get($colors, dark);
   }
}
form {
   display: flex;
   margin: auto;
   max-width: 100%;
   justify-content: space-around;
   align-items: stretch;
   flex-flow: row wrap;
}

.input-wrap {
   display: flex;
   justify-content: flex-start;
   align-items: stretch;
   flex-flow: row wrap;
   margin-bottom: 5px;
   color: map-get($colors, teal-darker);
   @include transitionAll;
   letter-spacing: 2px;
   height: 32px;

   &.full {
      width: 100%;
   }

   &.right-align {
      justify-content: flex-end;
   }

   &.center-align {
      justify-content: center;
   }

   &.text {
      border-bottom: 1px solid map-get($colors, teal);

      &:hover, &:focus {
         border-bottom: 1px solid map-get($colors, teal-dark);
      }
   }

   &.action {
      display: inline-block;
      width: 32%;
      vertical-align: middle;
   }

   & > input, & > button, & > ul {
      outline: none;
      border: none;
      background: none;
      padding: 0;
      font-family: 'Roboto';
   }

   & > input {
      flex-grow: 2;
      padding-left: 5px;
      padding-right: 5px;
   }

   & > button {
      cursor: pointer;

      &:hover {
         color: map-get($colors, teal);
      }

      &.btn {
         padding-left: 40px;
         padding-right: 40px;
         min-width: 100px;
         color: white;
         text-align: center;
         vertical-align: middle;
         cursor: pointer;
         margin-right: 20px;
         border-radius: 3px;
         box-shadow: $shadow;
         background-color: rgba(255, 255, 255, 0);
         @include transitionAll;

         &:hover {
            box-shadow: $shadow-hover;
         }

         &.danger {
            color: map-get($colors, indicadorTransitTime);

            &:hover {
               color: white;
               background-color: map-get($colors, indicadorTransitTime);
            }
         }

         &.success {
            color: map-get($colors, teal);

            &:hover {
               color: white;
               background-color: map-get($colors, teal);
            }
         }
      }
   }

   & > label {
      padding-left: 24px;
      user-select: none;
      vertical-align: middle;

      &:before, &:after {
         content: '';
         display: block;
         width: 16px;
         height: 16px;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
      }

      &:before {
         left: 0;
         border: 1px solid #e6e6e6;
         box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
      }

      &:after {
         left: 3px;
         background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/icon-check.svg") no-repeat center center;
         display: none;
      }
   }

   & > input[type=radio]:checked + & > label:before,
   & > input[type=checkbox]:checked + & > label:before {
      background-color: #19191a;
      border: none;
      box-shadow: none;
   }

   & > input[type=radio]:checked + & > label:after,
   & > input[type=checkbox]:checked + & > label:after {
      display: block;
   }

   & > select {
      border: none;
      background-color: transparent;
      border-bottom: 1px solid map-get($colors, teal);
      font-family: 'Roboto';

      &:focus {
         outline: none;
      }
   }

   & > .icon {
      cursor: pointer;
      display: flex;
      align-items: center;
      vertical-align: middle;
   }

   &.opacity {
      color: map-get($colors, white);

      & > input, & > input::placeholder, & > button {
         font-weight: bold;
         color: map-get($colors, white);
      }
   }
}
ul > li > span {
   vertical-align: middle;
   margin-right: 4px;
}

.filter-actions {
   list-style: none;
   display: flex;
   align-items: center;
   height: 32px;
   width: 100%;

   & > li {
      margin-right: 20px;
      cursor: pointer;

      &:hover{
         font-weight: bold;
      }
   }
}

.loader {
   display: flex;
   position: fixed;
   right: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.20);
   z-index: 99;
   align-items: center;
   justify-content: center;
}


.spinner {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   position: relative;
   margin: 50px;
   display: inline-block;

   &:after, &:before {
      content: '';
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
   }

   &:after {
      position: absolute;
      top: -4px;
      left: -4px;
      border: 4px solid transparent;
      border-top-color: orangered;
      border-bottom-color: orangered;
      animation: spinny 1s linear infinite;
   }
}

@keyframes spinny {
   0% { transform: rotate(0deg) scale(1); }
   50% { transform: rotate(45deg) scale(1.2); }
   100% { transform: rotate(360deg) scale(1); }
}

.login-container {
   overflow: hidden;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 99;
}

.login-background {
   width: auto;
   height: 120%;
   background-image: url('assets/img/background.jpg');
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   @include filter(blur, 5px);
   margin: -5px -10px -10px -5px;
}

.login-overlay {
   position: absolute;
   right: 0;
   top: 0;
   width: 100vw;
   height: 100vh;
   z-index: 99;

   font-family: 'Bree Serif', sans-serif;
   color: map-get($colors, white);

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;

}

.login-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   padding: 20px;

   img {
      margin-bottom: 20px;
      max-width: 200px;
      width: 200px;
   }
}

.left-align {
   text-align: left;
}

.right-align {
   text-align: right;
}

.center-align {
   text-align: center;
}

table {
   width: 100%;
   margin-bottom: 30px;
   text-align: left;
   table-layout: fixed;

   th, tr {
      height: 36px;
      @include transitionAll;
   }

   th, td {
      padding: 5px;
   }

   th {
      font-weight: bold;
      color: map-get($colors, darker);
      border-bottom: 1px solid rgba(0, 0, 0, 0.20);
   }

   tr:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.05);
   }

   tr:hover {
      background-color: rgba(0, 0, 0, 0.10);
   }
}

.w10 {
   width: 10%;
}

.w20 {
   width: 20%;
}

.w30 {
   width: 30%;
}

.w40 {
   width: 40%;
}

.w50 {
   width: 50%;
}

.w60 {
   width: 60%;
}
