$colors: (
  white:                #FFFFFF,
  primary:              #539770,
  secondary:            #8BC34A,
  atrasado:             #FF3D00,
  previsto:             #757575,
  light:                #f8f8f8,
  light-two:            #e0e0e0,
  dark:                 #3C3C3C,
  favorite:             #69BB7B,
  indicadorCarga:       #49E83E,
  indicadorDescarga:    #FFD432,
  indicadorTransitTime: #E84B30,
  primary-darker:       #186138,
  teal:                 #009688,
  teal-lighter:         #e0f2f1,
  teal-dark:            #004D40,
  teal-darker:          #001D18,
  app-background:       #EEEEEE,
  menu:                 rgba(255, 255, 255, 0.5),
  menu-highlight:       rgba(255, 255, 255, 1),
  fade:                 rgba(0, 0, 0, 0.05)
);

$shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
$shadow-hover: 4px 4px 5px 1px rgba(0, 0, 0, 0.05);

$text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
$text-shadow-hover: 4px 4px 5px rgba(0, 0, 0, 0.05);
