$text-color:        #f8f8f8;
$background-color:  #f8f8f8;

$colors: (
  primary:              #539770,
  secondary:            #8BC34A,
  atrasado:             #F44336,
  previsto:             #387B9F,
  light:                #f8f8f8,
  light-two:            #e0e0e0,
  dark:                 #3C3C3C,
  favorite:             #69BB7B,
  indicadorCarga:       #49E83E,
  indicadorDescarga:    #FFD432,
  indicadorTransitTime: #E84B30,
  primary-darker:       #186138
);
