<div class="filter">
   <h2 md-dialog-title>Filtros</h2>
   <div md-dialog-content fxLayout="column">
      <md-input fxFlex="100" placeholder="Insira os parâmetros de sua pesquisa"></md-input>
      <md-checkbox fxFlex="100" [checked]="true">Placa</md-checkbox>
      <md-checkbox fxFlex="100" [checked]="false">Romaneio</md-checkbox>
      <md-checkbox fxFlex="100" [checked]="false">Cidade</md-checkbox>
      <md-checkbox fxFlex="100" [checked]="false">Transportadora</md-checkbox>
      <md-checkbox fxFlex="100" [checked]="false">Mercadoria</md-checkbox>
      <hr>
      <md-checkbox fxFlex="100" [checked]="true"><span class="text-atrasado">Atrasado</span></md-checkbox>
      <md-checkbox fxFlex="100" [checked]="true"><span class="text-previsto">Previsto</span></md-checkbox>
   </div>
   <div md-dialog-actions fxLayout="row" class="actions">
      <button md-button (click)="dialogRef.close('no')" fxFlex><i class="material-icons">close</i></button>
     <button md-button (click)="dialogRef.close('yes')" fxFlex><i class="material-icons">search</i></button>
   </div>
</div>
