<div class="nav">
   <div class="logo">
      <div class="text">leadtime</div>
      <div class="img">
         <img src="assets/img/logo-icon-white.png" alt="Lead Time">
      </div>
   </div>
   <div class="user">
      <img src="http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg">
      <div class="user-details">
         <div class="user-info">
            <p>Hebertom G Kogut</p>
            <p>hebertomgkogut@gmail.com</p>
         </div>
      </div>
   </div>
   <div class="menu">
      <a routerLink="/home" routerLinkActive="active">
         <span class="icon-home"></span>
         <span class="menu-text">Início</span>
      </a>
      <a routerLink="/carga" routerLinkActive="active">
         <span class="icon-carga"></span>
         <span class="menu-text">Carga</span>
      </a>
      <a routerLink="/descarga" routerLinkActive="active">
         <span class="icon-descarga"></span>
         <span class="menu-text">Descarga</span>
      </a>
      <a routerLink="/config" routerLinkActive="active">
         <span class="icon-cog"></span>
         <span class="menu-text">Configurações</span>
      </a>
      <a routerLink="/login" routerLinkActive="active">
         <span class="icon-switch"></span>
         <span class="menu-text">Sair</span>
      </a>
   </div>
</div>
