@import '../../assets/theme/variables.scss';

.nav {
   position: fixed;
   top: 0px;
   left: 0px;
   width: 64px;
   height: 100vh;
   z-index: 1;
   background-color: map-get($colors, teal-dark);
   transition: width 300ms ease-in-out;
   overflow-x: hidden;
   text-align: left;
   color: map-get($colors, light);
   text-decoration: none;

   & .user {
      height: 120px;
      width: 100%;
      position: relative;
      overflow: hidden;

      & img {
         width: auto;
         height: 100%;
      }

      & .user-details {
         position: absolute;
         top: 0px;
         color: map-get($colors, light);
         background: rgba(0, 77, 64, 0.05);
         background: linear-gradient(rgba(0, 77, 64, 0.05), rgba(0, 77, 64, 1));
         width: 100%;
         height: 100%;
         font-size: 0.9rem;
         line-height: 24px;
         text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

         & .user-info {
            position: absolute;
            bottom: 5px;
            left: 15px;
            display: none;
            word-break: break-all;
            cursor: pointer;

            p:first-child {
              font-weight: bolder;
            }
         }
      }
   }

   & .menu {
      text-align: center;
      margin-top: 30px;
      & a {
         color: map-get($colors, menu);
         display: block;
         padding-top: 12px;
         padding-bottom: 12px;
         text-decoration: none;
         &:hover {
            cursor: pointer;
            color: map-get($colors, menu-highlight);
         }

         [class^="icon-"], [class*=" icon-"] {
            font-size: 1.6rem;
         }

         & span.menu-text {
            visibility: hidden;
            position: absolute;
            top: -10px;
            left: -10px;
            z-index: -9999;
         }
      }
   }

   & .logo {
      width: 100%;
      height: 64px;
      display: flex;
      justify-content: center;
      align-content: center;
      text-align: center;
      font-family: 'Bree Serif';
      position: absolute;
      bottom: 0;
      opacity: 0.2;
      & .text {
         display: none;
         flex-grow: 2;
      }
      & .img img {
         height: 80%;
         width: auto;
      }
   }

   //transition
   &:hover {
      width: 192px;

      .user .user-details .user-info {
         display: block;
         padding-right: 15px;
         word-wrap: break-word;
      }
      .user img {
         width: 100%;
         height: auto;
      }

      & .logo {
         opacity: 0.4;
         & .text {
            display: block;
            text-align: center;
            vertical-align: middle;
            height: 100%;
            font-size: 2rem;
         }
         & .img {
            flex-grow: 1;
         }
      }

      & .menu {
         text-align: left;
         padding-left: 15px;
         vertical-align: middle;
         & a span.menu-text {
            visibility: visible;
            display: inline-block;
            position: relative;
            left: 0;
            top: 0;
         }
      }
   }
}
