<ul class="nav">
   <li>
      <div class="user">
         <div class="background">
            <!-- <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAjGAAAAJGRhOGI4NzA4LTNjMmYtNDA5OS05OTY3LTJjMWM2ZTRiMDQ4Yg.jpg"> -->
            <img src="http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg">
         </div>
         <!-- <a><img class="circle" src="https://media.licdn.com/media/AAEAAQAAAAAAAAjGAAAAJGRhOGI4NzA4LTNjMmYtNDA5OS05OTY3LTJjMWM2ZTRiMDQ4Yg.jpg"></a> -->
         <a><img class="circle" src="http://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg"></a>
         <span class="name">Hebertom G Kogut</span>
         <span class="email">hebertomgkogut@gmail.com</span>
      </div>
   </li>
   <li class="menuoption"><a routerLink="/home" routerLinkActive="active"><span class="icon-home"></span>Início</a></li>
   <li class="menuoption"><a routerLink="/carga" routerLinkActive="active"><span class="icon-caminhao"></span>Carga</a></li>
   <li class="menuoption"><a routerLink="/" routerLinkActive="active"><span class="icon-rodovia"></span>Descarga</a></li>
   <li class="menuoption"><a routerLink="/" routerLinkActive="active"><span class="icon-caminhao"></span>Transit TIme</a></li>
   <li><div class="divider"></div></li>
   <li class="menuoption"><a routerLink="/login" routerLinkActive="active"><span class="icon-caminhao"></span>Sair</a></li>
</ul>
