<div class="padded header">
   <h2 class="page-title">{{title}}</h2>
   <div class="tabs">
      <a class="active">Teste</a>
      <a>Teste</a>
   </div>
</div>
<div class="padded content">
   <div class="summary">
      <h3>{{title}}</h3>
      <div class="filters">
         teste
      </div>
   </div>
   <div class="card info">
      <h6>{{title}}</h6>
      <h6>{{title}}</h6>
      <h6>{{title}}</h6>
   </div>
   <div class="card info">
      <h6>{{title}}</h6>
      <h6>{{title}}</h6>
      <h6>{{title}}</h6>
   </div>
   <div class="card info">
      <h6>{{title}}</h6>
      <h6>{{title}}</h6>
      <h6>{{title}}</h6>
   </div>
   <div class="card info">
      <h6>{{title}}</h6>
      <h6>{{title}}</h6>
      <h6>{{title}}</h6>
   </div>
</div>
