<div class="container">
   <div class="loader" *ngIf="loading"><div class="spinner"></div></div>
   <div class="padded header">
      <h1 class="page-title">{{title}}</h1>
   </div>
   <div class="padded content">
      <div class="summary">
         <div class="summary-info-block">
            <div class="card summary-info">
               <h1>12</h1>
               <h3>Descarga</h3>
               <span class="icon-descarga"></span>
               <div class="info-small">
                  <h2>10</h2>
                  <h4 class="f-previsto">Previstos</h4>
               </div>
               <div class="info-small">
                  <h2>2</h2>
                  <h4 class="f-atrasado">Atrasados</h4>
               </div>
            </div>
            <div class="card summary-info">
               <h1>10</h1>
               <h3>Carga</h3>
               <span class="icon-carga"></span>
               <div class="info-small">
                  <h2>7</h2>
                  <h4 class="f-previsto">Previstos</h4>
               </div>
               <div class="info-small">
                  <h2>3</h2>
                  <h4 class="f-atrasado">Atrasados</h4>
               </div>
            </div>
            <div class="card summary-info">
               <h1>22</h1>
               <h3>Trânsito</h3>
               <span class="icon-transit-time"></span>
               <div class="info-small">
                  <h2>17</h2>
                  <h4 class="f-previsto">Previstos</h4>
               </div>
               <div class="info-small">
                  <h2>5</h2>
                  <h4 class="f-atrasado">Atrasados</h4>
               </div>
            </div>
         </div>
      </div>
      <div>


         <div style="display: block;">
         <canvas baseChart width="400" height="400"
                     [datasets]="lineChartData"
                     [labels]="lineChartLabels"
                     [options]="lineChartOptions"
                     [colors]="lineChartColors"
                     [legend]="lineChartLegend"
                     [chartType]="lineChartType"
                     (chartHover)="chartHovered($event)"
                     (chartClick)="chartClicked($event)"></canvas>
         </div>
      </div>
   </div>
</div>
